/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

h1 { margin-top: 20px; }

.container {
    width: 800px;
    margin: 0 auto;
}

header { margin-bottom: 24px; }

.about-page header {
    margin-bottom: 30px;
    padding-bottom: 24px;
    border-bottom: 1px dashed #000;
}

header nav ul {
    height: 80px;
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header nav ul li {
    margin: 0 40px;
    font-size: 0.75em;
}

nav li.current {
    text-decoration: underline;
    font-weight: bold;
}

header nav ul li:first-child { margin: 0; }

header nav ul a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.25s ease-out;
}

.contacts-page .header-image {
    width: 800px;
    height: 153px;
    background: transparent url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shell.us%2Fabout-us%2Fprojects-and-locations%2Fnorco-manufacturing-complex%2Fcontact-shell-norco%2F_jcr_content%2FpagePromo%2Fimage.img.960.jpeg%2F1497972562995%2Fgs-contact-image-contact-us-1900x1200.jpeg&f=1') no-repeat;
    background-size: cover;
    background-position: 0 -120px;
}

a:hover {
    color: #DE372C;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .box:nth-child(1) { background-color: teal; }
.middle-content .box:nth-child(2) { background-color: gold; }
.middle-content .box:nth-child(3) { background-color: cadetblue; }
.middle-content .box:nth-child(4) { background-color: coral; }
.middle-content .box:nth-child(5) { background-color: crimson; }
.middle-content .box:nth-child(6) { background-color: forestgreen; }
.middle-content .box:nth-child(7) { background-color: darkorchid; }
.middle-content .box:nth-child(8) { background-color: hotpink; }
.middle-content .box:nth-child(9) { background-color: indigo; }
.middle-content .box:nth-child(10) { background-color: dodgerblue; }

.about-page main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-page main h2 { margin-top: 12px; }

.about-page main div {
    width: 49%;
    margin-bottom: 40px;
    padding-bottom: 24px;
    border-bottom: 1px dashed #000;
}

.about-page main div a {
    margin-top: 20px;
    padding: 8px 20px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 6px;
    transition: border-color 0.5s, color 0.5s;
}

.about-page main div a:hover {
    border-color:#DE372C;
    color: #DE372C;
}

form {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px dashed #000;
}

.contacts-page form { margin-bottom: 40px; }

form .input-container {
    width: 33.3%;
}

form label {
    margin-bottom: 6px;
    display: block;
}

form input {
    width: 90%;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 4px;
}

form .textarea-container {
    width: 100%;
    margin-top: 20px;
}

form textarea {
    width: 100%;
    min-height: 10em;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 4px;
}

form button {
    margin: 20px 0 20px auto;
    padding: 4px 20px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 4px;
    transition: border-color 0.5s, background-color 0.5s;
}

form button:hover {
    background-color: #DE372C;
    border-color: #DE372C;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.about-page .bottom-content { margin-bottom: 40px; }

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
}

footer nav ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav li {
    color: #fff;
}

footer nav a {
    color: white;
    text-decoration: none;
    transition: color 1s ease-out;
}

@media screen and ( max-width: 800px ) {
    .container {
        margin: 0 10px;
        min-width: 300px;
        width: auto;
    }

    .contacts-page .header-image {
        min-width: 300px;
        width: auto;
        background-size: 100% auto;
        background-position: center center;
    }

    header img { width: 100%; }

    header nav ul {
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    header nav li:first-child {
        width: 100%;
        text-align: center;
    }

    nav li:nth-child(n+2) {
        margin: 20px 0;
    }

    nav li a img { width: auto; }

    .about-page main {
        flex-direction: column;
    }

    .about-page main div { width: 100%; }

    .about-page main img{
        width: 100%;
    }

    form .input-container {
        width: 100%;
        margin-bottom: 20px;
    }

    form input {
        width: 100%;
        height: 30px;
    }

    form .textarea-container { margin-top: 0; }

    form button {
        width: 100%;
        height: 50px;
    }

    footer nav ul { width: 100%; }
}